<div style="width: 100%; height: 500px;"
  data-controller="mapbox"
  data-mapbox-markers-value="<%= @markers.to_json %>"
  data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
<div class="result-container borro">
<%= link_to "", 'javascript:history.back()', class:"fas fa-angle-left back-btn"%>
  <h6><strong><%= pluralize(@posts.count, "result") %> </strong>near you</h6>
      <% @posts.each do |post| %>
    <div class="card-product">
    <%= image_tag("distance.png") %>
    <div class="km center">
    <h5><%= rand(0.1..3.0).round(1) %></h5>
    </div>
      <div class="card-product-infos">
        <h3><%= link_to post.title.upcase, post_path(post) %></h3>
        <p>For up to <%= post.duration %> days</p>
        </div>
    </div>
  <% end %>
</div>
