<div class="main-container borro"


  data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>">


<% if @chatroom.participants[0].user_id == current_user.id %>
  <p><%= image_tag(User.find(@chatroom.participants[1].user_id).avatar_thumbnail, :class => "avatar-Xlarge") %></p>
 <strong> <%= User.find(@chatroom.participants[1].user_id).first_name %> <%= User.find(@chatroom.participants[1].user_id).last_name %></strong>
<% else %>
  <p><%= image_tag(User.find(@chatroom.participants[0].user_id).avatar_thumbnail, :class => "avatar-Xlarge") %></p>
 <strong> <%= User.find(@chatroom.participants[0].user_id).first_name %> <%= User.find(@chatroom.participants[1].user_id).last_name %></strong>
<% end %>


  <div class="messages" data-chatroom-subscription-target="messages">
    <% @chatroom.messages.each do |message| %>
      <%= render "messages/message", message: message %>
      <% end %>
  </div>

  <%= simple_form_for [@chatroom, @message],
    remote: true,
    html: {data: {action: "ajax:success->chatroom-subscription#resetForm"},
    class: "d-flex"} do |f|
    %>
  <%= f.input :content,
    label: false,
    placeholder: "Message ##{@chatroom.name}",
    wrapper_html: {class: "flex-grow-1"}
  %>
  <%= f.submit "Send", class: "btn btn-primary" %>
  <% end %>
 <button type="button" class="btn btn-primary"><%=link_to "Back", pages_search_path%>
</div>
