  <%= link_to "", 'javascript:history.back()', class:"fas fa-angle-left back-btn"%>
<div class="d-flex flex-column">
  <div class="chatroom-main-container borro d-flex flex-column"
    data-controller="chatroom-subscription"
    data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>">

    <% user_0 = User.find(@chatroom.participants[0].user_id) %>
    <% user_1 = User.find(@chatroom.participants[1].user_id) %>


      <% if @chatroom.participants[0].user_id == current_user.id %>
        <div class="mx-auto" style="padding-bottom: 10px;">
        <%= image_tag(user_1.avatar_thumbnail, :class => "avatar-Xlarge") %>
          </div>
        <div class="mx-auto" style="padding-bottom: 20px;">
          <h2><strong> <%= user_1.first_name %> <%= user_1.last_name %></strong></h2>
        </div>
      <% else %>
        <div class="mx-auto" style="padding-bottom: 10px;">
          <%= image_tag(user_0.avatar_thumbnail, :class => "avatar-Xlarge") %>
        </div>
        <div class="mx-auto" style="padding-bottom: 20px;">
          <h2><strong><%= user_0.first_name %> <%= user_0.last_name %></strong></h2>
        </div>
      <% end %>
    <div class="messages" data-chatroom-subscription-target="messages">
      <% @chatroom.messages.each do |message| %>
        <%= render "messages/message", message: message %>
      <% end %>
    </div>
  </div>



    <div class="new-message" data-controller="chatroom-subscription"
                             data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>">
        <%= simple_form_for [@chatroom, @message],
          remote: true,
          html: {data: {action: "ajax:success->chatroom-subscription#resetForm"},
          class: "d-flex"} do |f|
          %>
          <%= f.input :content,
            label: false,
            placeholder: "Message ##{@chatroom.name}",
            wrapper_html: {class: "flex-grow-1"}
          %>
          <%= f.button :button do %>
          <div class="btn btn-primary search-button">
            <i class="fas fa-paper-plane"></i>
        </div>
        <% end %>
      <% end %>
    </div>
</div>
