<div class="main-container borro">
  <%= link_to "", 'javascript:history.back()', class:"fas fa-angle-left back-btn"%>
  <br>
  <br>
  <h5> <strong>MY NOTIFICATIONS</strong> </h5>
    <br>

    <button type="button" class="btn btn-primary m-1"><%= link_to "Mark all as read", read_all_notifications_path, method: :post %></button>
    <% @notifications.each do |notification| %>
      <% if notification.type == "PostNotification" %>
        <div class="notification">
          <%= image_tag(User.find(notification.params[:booking][:user_id]).avatar_thumbnail, :class => "avatar-large") %>
          <div class="notification-content">
            <p><small><%= notification.params[:booking][:created_at].strftime("#{notification.params[:booking][:created_at].day.ordinalize} %B")%></small></p>
              <p><%= link_to notification.params[:message], post_bookings_path(notification.params[:booking][:post_id])%></p>
            </div>
          </div>
        <% elsif notification.type == "MessageNotification" %>
          <div class="notification">
            <%= image_tag(User.find(notification.params[:booking][:user_id]).avatar_thumbnail, :class => "avatar-large") %>
            <div class="notification-content">
              <p><small><%= notification.params[:booking][:created_at].strftime("#{notification.params[:booking][:created_at].day.ordinalize} %B")%></small></p>
              <p><%= link_to notification.params[:message], chatroom_path(notification.params[:booking][:chatroom_id])%></p>
            </div>
          </div>
        <% else %>
          <div class="notification">
            <%= image_tag(User.find(notification.params[:post][:user_id]).avatar_thumbnail, :class => "avatar-large") %>
              <div class="notification-content">
                <p><small><%= notification.params[:post][:created_at].strftime("#{notification.params[:post][:created_at].day.ordinalize} %B")%></small></p>
                  <p><%= link_to notification.params[:message], my_bookings_path %></p>
            </div>
          </div>
        <% end %>
      <% end %>
</div>
