  <%= simple_form_for [ @post, @booking ] do |f| %>
      <%= f.input :start_time %>
      <%= f.input :end_time %>
      <%= f.input :message %>
      <p>Introduce yourself, explain the purpose of your booking and share your catch-up preferences.</p>

      <%= f.input :check_box, wrapper: :custom_boolean_switch %>

      <%= f.submit name: button_name, class: "btn btn-primary" %>

      <%= f.button :button do %>
         <a href="/"><i class="fas fa-angle-left back-btn"></i></a>
      <% end %>
    <% end %>
