<div class="borro">
  <%= link_to "", 'javascript:history.back()', class:"fas fa-angle-left back-btn"%>
  <div id='post-booking-dates' data-unavailable="<%=@post.unavailable_dates.to_json %>">
    <%= simple_form_for [ @post, @booking ] do |f| %>
        <%= f.input :start_time, as: :string, type: :text, placeholder:"From",label: "Start Time/Date" %>
        <%= f.input :end_time, as: :string, type: :text, placeholder:"To",label: "End Time/Date"%>
        <%= f.input :message %> <small><p>Introduce yourself, explain the purpose of your booking and share your catch-up preferences.</p></small>
        <br>
        <strong><%= f.input :check_box, required: true, wrapper: :custom_boolean_switch,label: "Borro Agreements"  %>
        </strong>
        <small>
        <p><cite>Always be nice and supportive of everyone in this community. Look after the things you borrowed just like your own and have a good time with your heighbours just like you would with your friends! </cite> 😊 </p>
        <p>Team Borro wishes you happy!</p>
        </small>
<br>
        <%= f.submit button_name, class: "btn btn-primary ok-button" %>
        <br>
        <br>
      <% end %>
  </div>
</div>
