<div class="main-container borro">
  <%= link_to "", 'javascript:history.back()', class:"fas fa-angle-left back-btn"%>
  <br>
  <br>
  <h2><strong> MANAGE BOOKINGS </strong></h2>
  <br>
  <h3>You have <strong><%=@bookings.length%></strong> <%= @bookings.length == 1 ? "booking" : "bookings" %> for <i>'<%= @post.title.capitalize %></i>'</h3>
<% @bookings.each do |booking| %>
  <div class="white-card">
    <ul style="list-style-type:none;">
      <% user = User.find(booking.user_id)%>
      <li><%= user.username %></li>
      <li><i>"<%= booking.message %>"</i></li>
      <li>Status: <%= booking.status %></li>
    </ul>
    <div class="review-btn">
      <%= link_to "Accept", accept_booking_path(booking), class: "btn btn-primary", method: "patch" %>
      <%= link_to "Decline", decline_booking_path(booking), class: "btn btn-primary", method: "patch" %>
      <%= link_to "Request Review", request_review_booking_path(booking), class: "btn btn-primary", method: "patch" %>
    </div>
  </div>
<% end %>
