<div class="main-container borro">

  <a href="/posts"><i class="fas fa-angle-left back-btn"></i></a>

  <div class="character-container">
    <%= image_tag("characters/booking-show.png") %>
  </div>

  <h2>Your booking request <strong>has been sent to <%= @booking.post.user.username %>.</strong></h2>

  <div class="white-card">
    <h3> <strong>Your booking details:</strong></h3>
    <br>
    <p><strong><%=@booking.post.title.upcase %></strong></p>
    <p>at <%= @booking.post.location %></p>
    <p>from <%= @booking.start_time.to_time.strftime('%B %e at %l:%M %p')%></p>
    <p>to <%= @booking.end_time.to_time.strftime('%B %e at %l:%M %p')%></p>
    <p><%= @booking.status %> by <%=@booking.post.user.username %></p>
  </div>

  <button type="button" class="btn btn-primary"><%= link_to "Edit", edit_post_booking_path(@booking) %></button>
  <button type="button" class="btn btn-primary"><%=link_to "Cancel",

                          post_booking_path(@booking),
                          method: :delete,
                          data: { confirm: "Are you sure?" } %></button>
  <button type="button" class="btn btn-primary"><%= link_to "See my bookings", my_bookings_path() %></button>
</div>
