<div class="main-container borro">
<%= link_to "", 'javascript:history.back()', class:"fas fa-angle-left back-btn"%>
  <br>
  <br>
  <h5> <strong>MY BOOKINGS</strong> </h5>
  <br>
    <% @bookings.each do |booking| %>
      <div class="white-card pb-2">
        <h3> <strong>Your booking details:</strong></h3>
        <div class="gray-card mt-3 pt-10 pb-1">
          <h3><strong><%=booking.post.title.upcase %></strong></h3>
          <ul>
          <li><strong>At -</strong> <%= booking.post.location %></li>
          <li><strong>From -</strong> <%= booking.start_time.to_time.strftime('%B %e at %l:%M %p')%></li>
          <li><strong>To -</strong> <%= booking.end_time.to_time.strftime('%B %e at %l:%M %p')%></li>
          <br>
          <strong><%= booking.status %> by <%=booking.post.user.username %></strong>
          </ul>
          <div class="center m-3">
          <button type="button" class="btn btn-primary"><%= link_to "EDIT", edit_post_booking_path(@post, booking) %></button>
          <button type="button" class="btn btn-primary"><%=link_to "CANCEL",
                                post_booking_path(@post, booking),
                                method: :delete,
                                data: { confirm: "Are you sure?" } %></button>
          </div>
        </div>
      </div>
    <% end %>
</div>
