<%= link_to "", 'javascript:history.back()', class:"fas fa-angle-left back-btn"%>
<div class="main-container borro">
  <h2><strong> MY MESSAGES </strong></h2>
  <div class="white-card">
    <ul style="list-style-type:none;">
      <% if @chatroom_ids.count == 0 %>
        <p>Sorry, no chat history yet.</p>
      <% else %>
        <% @chatroom_ids.each do |chatroom_id| %>
          <% chatroom = Chatroom.find(chatroom_id) %>
          <% if chatroom.participants[1].user_id == current_user.id %>
              <%= image_tag(User.find(chatroom.participants[0].user_id).avatar_thumbnail, :class => "avatar") %>
              <li><%= link_to chatroom.name, chatroom_path(chatroom) %></li>
          <% else %>
              <%= image_tag(User.find(chatroom.participants[1].user_id).avatar_thumbnail, :class => "avatar") %>
              <li><%= link_to chatroom.name, chatroom_path(chatroom) %></li>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
