<div class="main-container borro d-flex flex-column">
<%= link_to "", 'javascript:history.back()', class:"fas fa-angle-left back-btn"%>
<br>
<br>
<div class="center">
  <h5>Welcome,</h5>
  <h1><%= @user.username %></h1>

    <%= image_tag(current_user.avatar_thumbnail, :class => "avatar-Xlarge mx-auto") %>
    <br>
    <br>
</div>
    <div class="white-card">
      <ul style="list-style-type:none;">
        <li><button type="button" class="btn btn-success mt-2"><%= link_to "PERSONAL INFORMATION", edit_user_registration_path(@user)%></button></li>
        <li><button type="button" class="btn btn-success mt-2"><%= link_to "MY BOOKINGS", my_bookings_path %></button></li>
        <li><button type="button" class="btn btn-success mt-2"><%= link_to "MY POSTS", my_posts_path %></button></li>
        <li><button type="button" class="btn btn-success mt-2"><%= link_to "LOG OUT", destroy_user_session_path, method: :delete %></button></li>
      </ul>
    </div>
</div>
