<h1>Search page</h1>
<p>You need to borrow:</p>


<%= form_with url: "/search/result", method: :get do |form| %>

  <p><%= form.label :query, "Search for:" %></p>
    <%= form.radio_button :category, "service" %>
      <%= form.label :category_time, "their time" %>
    <%= form.radio_button :category, "product" %>
      <%= form.label :category_things, "their things" %>

    <p><%= form.text_field :description, placeholder: "Camping gear" %></p>

    <p><%= form.number_field :duration, in: 1.0..20.0, step: 0.5 %> Days</p>

    <p>Search radius <%= form.text_field :distance, placeholder: 0 %>km</p>
  <%= form.submit "Search" %>
    <%# <%= form.date_field :born_on %>
    <%# <%= form.time_field :started_at %>
    <%# <%= form.check_box :pet_dog %>
    <%# <%= form.label :pet_dog, "I own a dog" %>

    <%# <%= form.password_field :password %>

    <%# <%= form.text_area :message, size: "70x5" %>
    <%# <%= form.hidden_field :parent_id, value: "foo" %>

<% end %>
