<div class="main-container borro">

  <a href="/help_requests"><i class="fas fa-angle-left back-btn"></i></a>

  <div class="character-container">
    <%= image_tag("characters/help-new.png") %>
  </div>
<br>
  <h3> <strong> Your message to <%= @help_request.user.username.capitalize %></strong></h3>
  <%= simple_form_for [ @help_request, @help ] do |f| %>
      <%= f.input :message, label: false, hint: "Explain how you can help and share your catch-up preferences." %>
      <%= f.button :submit, 'SEND', class: "btn btn-primary", id: "borrow-button" %>
  <% end %>
</div>
