<div class="main-container borro">
<br>
  <h3><strong>They can borrow:</strong></h3>
    <div class="white-card">
    <%= simple_form_for(@post) do |f| %>
      <%= f.input :title %>
      <%= f.input :category, :collection => %w[product service]%>
      <%= f.input :description %>
      <%= f.input :location,
              input_html: { data: { geocoder_target: "location" }, class: "d-none"},
              wrapper_html: { data: { controller: "geocoder", geocoder_api_key_value: ENV['MAPBOX_API_KEY'] } } %>
      <%= f.input :duration %>
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>
      <%= f.submit name: button_name, class: "btn btn-primary" %>
      <%= f.button :button do %>
       <a href="/"><i class="fas fa-angle-left back-btn"></i></a>
     <%  end %>
  <% end %>
  </div>
</div>
