<div class="main-container borro">
<%= link_to "", 'javascript:history.back()', class:"fas fa-angle-left back-btn"%>
<br>
  <div class="character-container">
    <%= image_tag("characters/postnew.png", height: 232, width: 326) %>
  </div>
  <h3><strong>They can borrow:</strong></h3>
  <div class="toggle-card">
      <form>
        <input class="my-class" type="radio" value="service" name="category" id="category_service" checked>
        <label for="category_service">your time</label>

        <input class="my-class" type="radio" value="product" name="category" id="category_product">
        <label for="category_product">your things</label>
    </form>
  </div>
  <div class="white-card">
    <%= simple_form_for(@post) do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :location,
            input_html: { data: { geocoder_target: "location" }, class: "d-none"},
            wrapper_html: { data: { controller: "geocoder", geocoder_api_key_value: ENV['MAPBOX_API_KEY'] } } %>
    <%= f.input :duration %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.submit button_name, class: "btn btn-primary" %>
  <% end %>
  </div>
</div>
