<h1><%= @post.title %></h1>
  <p><%= @post.category %></p>
  <p><%= @post.description %></p>
  <p><%= @post.location %></p>
  <p><%= @post.duration %></p>

<p><%= link_to "Back to list", posts_path %></p>
